.qa-container{
  max-width: 856px;
  @include respond(tablet){
    max-width: 100%;
    padding-left: 36px;
    padding-right: 36px;
  }
  @include respond(mobile){
    padding: 0 12px;
    margin-left: -12px;
    margin-right: -12px;
  }
}